{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Simple Blog Site</title>
    <link rel="stylesheet" href="../../static/style.css">

    {% block headerContent %} {% endblock headerContent %}
    <style>
        .blog_detail_title{
          text-align: center;
          font-size: 40px;
          font-weight: bold;
        }
        .author{
            text-align: center;
        }
        .header_line::after{
    content: " ";
    height: 1px;
    width:100%;
    margin-block: 0.3rem;
    background:linear-gradient(90deg , #000000 0 9%,#b4b4b4af 9% 100%);
    
    display: block;
}
    </style>
</head>

<body>

{% block pageContent %} {% endblock pageContent %}

      
   

      
</body>

</html>